* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

.header {
    display: flex;
    padding: 0 30px;
    height: 100px;
    line-height: 100px;
    justify-content: left;

}

.header>a {
    font-size: 5vw;
    color: rgb(111, 78, 44);
}

.header>a:hover {
    text-decoration: none;
}

.header>img {
    width: 100px;
    max-width: 100px;
    margin: 0 30px;
}

.header>p {
    font-size: 2vw;
    color: #ffbb33;
    margin: 0 10px;

}

.body_player1 {
    padding: 50px 90px;
    display: grid;
    text-align: center;
}

.body_player1>img {
    width: 80%;
    margin: 10px 0;
}

.body_player1>img:hover {
    border-radius: 20px;
    background-size: auto;
    background-color: lightgrey;
}

.body_player1>p {
    font-size: 1.5vw;
    text-align: center;
    white-space: nowrap;
}

.body_middle {
    margin: 80px 0;
    padding: 50px 90px;
    display: grid;
    text-align: center;
}

.body_middle>p {
    color: red;
    font-size: 5vw;
}

.body_com {
    padding: 50px 90px;
    display: grid;
    text-align: center;
}

.body_com>img {
    width: 80%;
    margin: 10px 0;
}

.body_com>p {
    font-size: 1.5vw;
    text-align: center;
}

.footer {
    display: grid;
    padding-left: 47%;

}

.footer>a>img {
    width: 10%;
}

body {
    background-color: rgba(203, 152, 97, 0.826);
}

@media screen and (max-width: 991px) {
    .header>img {
        width: 60px;
        height: 50px;
        position: relative;
        margin-top: 25px;
    }
}

@media screen and (max-width: 575px) {
    .header {
        justify-content: center;
    }

    .header>img {
        width: 40px;
        min-width: 40px;
        height: 30px;
        position: relative;
        margin-top: 35px;
    }

    .body_player1 {
        display: flex;
    }

    .body_player1>img {
        width: 10%;
        margin: 0 20px;
    }

    .body_com {
        display: flex;
    }

    .body_com>img {
        width: 10%;
        margin: 0 20px;
    }
}