* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

* a:hover {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

table.table-bordered {
    border: 1px solid blue;
    margin-top: 20px;
}

table.table-bordered>thead>tr>th {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

table.table-bordered>tbody>tr>td {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

table>thead>tr>th>p {
    color: white;
}

table>tbody>tr>td>p {
    color: white;
}

#pageone {
    width: 100%;
    height: 100vh;
    background: url("assets/main-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;



}

#pagetwo {
    width: 100%;
    height: 100vh;
    background: url("assets/the-games-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    padding-right: 200px;

}

#pagethree {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/features.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    padding-right: 200px;

}

#pagefour {
    width: 100%;
    height: 100vh;
    color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/requirements.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    padding-right: 200px;

}

#pagefive {
    width: 100%;
    height: 100vh;
    color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/top-score-bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    padding-right: 200px;

}

#pagesix {
    width: 100%;
    height: 100vh;
    color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/newsletter.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.55);
    justify-content: space-around;
    color: white;
    height: 100px;
    align-items: center;
}

nav .logo {
    letter-spacing: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;

}

nav ul li a {
    color: white;
    font-size: 1em;
    margin: 30px;
    white-space: nowrap;
}

.kanan ul li a {
    display: flex;
}


#container1 {
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: 70px;
    top: 150px;
    color: white;
    position: relative;
    top: 130px;
}

#container2 {
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    top: 150px;
    color: white;
    position: relative;
    top: 100px;
}

#container3 {
    text-align: center;
    top: 100px;
    color: white;
    position: relative;
    justify-content: center;
}

#container4 {
    text-align: center;
    position: relative;
    font-size: 15px;
    color: white;
    top: 250px;
}

#container21 {
    color: white;
    justify-content: left;
    text-align: left;
    padding: 10px;
    position: relative;
    top: 100px;
    left: -300px;


}

#container22 {
    justify-content: right;
    text-align: right;
    position: relative;
    top: 30px;
    left: 300px;

}

#container31 {
    position: relative;
    left: 500px;
    top: 100px;
}

#container42 {
    position: relative;
    top: 150px;
}

#container43 {
    position: relative;
    top: 150px;
}

#container51 {
    width: 400px;
}

.mycomputer>p {
    color: white;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 150px;
    margin-left: 180px;
}

.btn {
    margin-top: 3%;
    color: rgb(0, 0, 0);
    background-color: #ffbb33;
    width: 280px;
    height: 60px;

}

.buttonyellow {
    text-align: center;
}

.arrowdown {
    position: relative;
    bottom: 20px;
}

.thegames {
    margin-bottom: 100px;
    margin-left: 200px;
}

.thegames>p {
    color: white;
    margin-left: 10px;
}

#special {
    font-size: 20px;
}

#games {
    font-size: 50px;
}

#childhood {
    color: white;
}

.tbd p {
    word-wrap: break-word;
    color: #ffbb33;
    font-size: 25px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 200px;
}

.yellow {
    color: #ffbb33;
}

.systemreq {
    position: relative;
    top: 20px;
    right: 5px;

}

.systemreq>p {
    color: white;
    font-size: 50px;
    width: 200px;

}

.topscore {
    position: relative;
    top: 250px;
    right: 400px;

}

.topscore>p {
    color: white;
    font-size: 50px;
    width: 200px;
    white-space: nowrap;

}

#topscore {
    font-size: 20px;
    font-weight: lighter;
    width: 330px;
    word-break: break-all;
    white-space: normal;
}

.card {
    height: 250px;
    border-radius: 2.5%;
    background-color: rgba(35, 30, 30, 0.792);
    position: relative;
    left: 350px;
    top: 50px;

}

.card-header {
    position: relative;
    bottom: 10px;
}

#cardheader2 {
    position: relative;
    bottom: 550px;
    left: 250px;
    height: 250px;
    border-radius: 2.5%;
    background-color: rgba(35, 30, 30, 0.792);
}

#cardheader3 {
    position: relative;
    bottom: 270px;
    left: 250px;
    height: 250px;
    border-radius: 2.5%;
    background-color: rgba(35, 30, 30, 0.792);
}

.imagecard {
    position: relative;
    top: 50px;
    width: 50px;
    height: 50px;
}

.imagecard1 {
    position: relative;
    top: 50px;
    right: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.rightside {
    position: relative;
    left: 100px;
    bottom: 100px;
    display: grid;
}

.carousel-item {
    width: 1000px;
}

.carousel {
    width: 1000px;
    height: 500px;
    position: relative;
    left: 50px
}

#card-last {
    position: relative;
    right: 468px;
    top: 150px;

}

.carousel-control-prev-icon {
    background-image: url("assets/switch-left.svg") !important;
}

.carousel-control-next-icon {
    background-image: url("assets/switch-right.svg") !important;
}

.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#container6 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;

}

.footer>a {
    margin: 0 50px;
    font-size: 13px;
}

.logo>img {
    margin: 0 30px
}

@media screen and (max-width: 1200px) {
    nav ul {
        width: 40%;

    }

    .kanan ul li a {
        display: none;
    }

    #container1 {
        font-size: 3.5em;
    }

    #container2 {
        font-size: 1.5em;
    }

    .carousel-item {
        width: 500px;
    }

    .carousel {
        width: 500px;
        height: 300px;
        position: relative;
        left: 50px
    }

    #container21 {
        color: white;
        justify-content: left;
        text-align: left;
        padding: 10px;
        position: relative;
        top: 100px;
        left: -300px;


    }

    #container22 {
        justify-content: center;
        text-align: center;
        position: relative;
        top: 200px;
        left: 100px;

    }

    #container31 {
        position: relative;
        top: 120px;
        justify-content: left;
        text-align: left;
    }

    .topscore2 {
        position: relative;
        right: 130px;
    }

    .topscore {
        left: -200px;
    }



}

@media screen and (max-width: 835px) {
    nav ul {
        display: none;
        width: 100%;
        justify-content: center;
    }

    #container1 {
        font-size: 2.5em;
    }

    #container2 {
        font-size: 1em;
    }

    .button1 {
        margin-top: 20px;
    }

    .carousel-item {
        width: 300px;
    }

    .carousel {
        width: 300px;
        height: 200px;
        position: relative;
        left: 50px
    }

    #container21 {
        justify-content: left;
        text-align: left;
        position: relative;
        top: 200px;
        left: 40px;
    }

    #container22 {
        justify-content: center;
        text-align: center;
        position: relative;
        top: 200px;
        left: -40px;
    }

    #container31 {
        position: relative;
        top: 80px;
        left: 20px;
        justify-content: left;
        text-align: left;
    }
}